<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skcto.skknowledge.mapper.KnowledgeFragmentMapper">

    <resultMap id="BaseResultMap" type="com.skcto.skknowledge.domain.KnowledgeFragment">
            <id property="id" column="id" />
            <result property="knowledgeId" column="knowledge_id" />
            <result property="docId" column="doc_id" />
            <result property="idx" column="idx" />
            <result property="content" column="content" />
            <result property="deptId" column="dept_id" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,knowledge_id,doc_id,idx,content,dept_id,
        create_by,create_time,update_by,update_time,remark
    </sql>
</mapper>
